$primary_blue: #009CB4;
$hover_blue: #01B8D5;
$primary_black: #231F20;
$primary_grey: #4D4D4F;
$secondary_grey: #676A71;
$border: #F4F3F5;
$primary_input: #F6F6F9;
$primary_red: #E0371F;
$white: #ffffff;
$primary_green: #00B347;
$placeholder_grey: #C6C6C6;

$background_primary: #E5E5E5;
$background_secondary: #F9F9FB;
